@font-face {
    font-family: "LibreFranklin";
    src: url("../fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LibreFranklin";
    src: url("../fonts/LibreFranklin-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}

:root {
    --prim: #8993e2;
    --compl: #e2d989;
    --an1: #89bfe2;
    --an2: #ad89e2;
    --tr1: #d989e2;
    --tr2: #e28992;
    --outline: #f0e6e6;
}

#app {
    background-color: var(--outline);
    height: 100vh;
}
